<?xml version="1.0"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="caIndex.Properties.Settings.kladrConnectionString"
        connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\kladr.mdb;Persist Security Info=True"
        providerName="System.Data.OleDb" />
</connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
